doctype html
html(lang='en', xmlns='http://www.w3.org/1999/xhtml')
	head
		title Imgfnt
		meta(name="viewport",id="viewport",content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
		meta(name='description', content="Generate image filled text on the fly with #imgfnt")
		meta(name='twitter:card', value='Generate image filled text on the fly with #imgfnt')
		meta(property='og:title', content='Imgfnt')
		meta(property='og:type', content='article')
		meta(property='og:image', content=IMG)
		meta(property='og:description', content="Generate image filled text on the fly with #imgfnt")
		
	body
		script.
			location.href='/';